@font-face {
    font-family: 'Ubuntu';
    src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf");
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

body {
    min-height: 100%;
    overflow: scroll;
    margin: 0;
}

#icons {
    display: inline-block;
    width: 35%;
    margin-left: 15%;
}
#icons img {
    height: 25px;
    padding-top: 1%;
    padding-left: 10px;
}
#icons a:hover {
    text-decoration: none;
}

#navigation {
    display: inline-block;
    width: 35%;
    margin: auto;
    text-align: right;
}
#navigation a {
    font-size: 25px;
    font-family: 'Roboto-Bold', sans-serif;
    margin-right: 20px;
}
#navigation a:hover {
    text-decoration: none;
}

#name-col {
    background-color: #D6EFFF;
}
#name-col h1 {
    font-size: 55px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: auto;
    margin-bottom: auto;
}

#content {  
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
    font-family: "Roboto", sans-serif;  
    font-size: 20px;  
}

#resume {
    display: inline-block;
    height: 100%;
    width: 100%;
}
#resume iframe {
    margin-top: 1%;
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
}
a:visited {
    color: black;
}
a:hover {
    text-decoration: underline;
    opacity: 75%;
}

p:visited {
    color: black;
}

.photo-col img {
    width: 100%;
    padding: 1.5px;
    border: 3px solid #eee;
    margin: auto;
}

@media screen and (min-width: 800px) {
    .photo-row {
        max-width: 100%;
        height: 100%; 
        display: flex;
        flex-wrap: wrap;
    }
    .photo-col {
        height: 100%;  
        width: 49%;
        margin: auto;
    }
}

@media screen and (max-width: 800px) {
    #head {
        display: block;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 100%;
    }
    #nav-col {
        display: block;
    }
    #icons {
        display: block;
        width: 100%;
    }
    #navigation {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 100%;
    }

    .photo-row {
        width: 100%;
        height: 100%;
        max-width: 1000px;
        display: flex;
        flex-wrap: wrap;
    }
    .photo-col {
        height: 50%;
        flex: 100%;
        max-width: 100%;
    }
}