@font-face {
    font-family: 'Ubuntu';
    src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf");
}

@font-face {
    font-family: 'Work_Sans';
    src: url("../fonts/Work_Sans/static/WorkSans-Regular.ttf");
}

@font-face {
    font-family: 'Roboto_Mono';
    src: url("../fonts/Roboto_Mono/static/RobotoMono-Light.ttf");
}
@font-face {
    font-family: 'Roboto_Mono_Regular';
    src: url("../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
}


html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    margin: 0;
}

#icons {
    display: inline-block;
    width: 35%;
    margin-left: 15%;
}
#icons img {
    height: 25px;
    padding-top: 1%;
    padding-left: 10px;
}
#icons a {
    text-decoration: none;
}
#icons a:hover {
    text-decoration: none;
}

#navigation {
    display: inline-block;
    width: 35%;
    margin: auto;
    text-align: right;
}
#navigation a {
    font-size: 25px;
    font-family: 'Work_Sans', sans-serif;
    margin-right: 20px;
    text-decoration: none;
}
#navigation a:hover {
    text-decoration: none;
}

#name-col {
    background-color: #D6EFFF;
}
#name-col h1 {
    font-size: 55px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: auto;
    margin-bottom: auto;
}

#content {  
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
    font-family: "Roboto_Mono", sans-serif;  
    font-size: 18px;  
}

#resume {
    display: inline-block;
    height: 100%;
    width: 100%;
}
#resume iframe {
    margin-top: 1%;
    height: 100vh;
    width: 100%;
}

a {
    color: black;
    text-decoration: underline;
}
a:visited {
    color: black;
}
a:hover {
    text-decoration: underline;
    opacity: 75%;
}

b {
    font-family: "Roboto_Mono_Regular", sans-serif;  
}

p:visited {
    color: black;
}

.photo-col img {
    width: 100%;
    padding: 1.5px;
    border: 3px solid #eee;
    margin: 15px 0;
}

@media screen and (min-width: 800px) {
    .photo-row {
        max-width: 80%;
        height: 100%; 
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }
    .photo-col {
        height: 100%;  
        width: 45%;
        margin: auto;
    }
}

@media screen and (max-width: 800px) {
    #head {
        display: block;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 100%;
    }
    #nav-col {
        display: block;
    }
    #icons {
        display: block;
        width: 100%;
    }
    #navigation {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 100%;
    }

    .photo-row {
        width: 100%;
        height: 100%;
        max-width: 1000px;
        display: flex;
        flex-wrap: wrap;
    }
    .photo-col {
        height: 50%;
        flex: 100%;
        max-width: 100%;
    }
}